body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ecff; /* Cambié el color de fondo */
    color: #333;
}

.container {
    padding: 20px;
    position: relative;
}

.logo {
    width: 200px; /* Ajusté el ancho de la imagen */
    height: auto;
    margin-right: 20px; /* Añadí más margen derecho */
}

.app-title {
    font-size: 4em; /* Ajusté el tamaño de fuente del título */
}

header {
    background: linear-gradient(135deg, #007BFF, #00BFFF);
    color: white;
    padding: 30px 20px; /* Reduje el relleno superior e inferior */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    text-align: center;
}

.header-content {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: center; /* Alinear horizontalmente al centro */
}

h1 {
    margin: 0;
    font-size: 50px;
}

main {
    margin: 20px 0;
}

section {
    margin-bottom: 50px;
    padding: 0 20px;
}

#introduccion p {
    font-size: 1.2em; /* Aumenté el tamaño de la fuente */
    line-height: 1.8; /* Aumenté el espaciado entre líneas */
    color: #444; /* Cambié el color del texto a un tono más oscuro */
}



#introduccion p:nth-of-type(2n) {
    font-style: italic; /* Hice que los párrafos pares tengan estilo itálico para variar visualmente */
}

#introduccion h2 {
    color: #007BFF;
    text-align: center; /* Alinea el título a la izquierda */
}

#descarga h2 {
    color: #007BFF;
    margin-bottom: 30px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px 0;
    text-align: justify;
}

.download-button-container {
    background-color: #eff5ff; /* Cambié el color de fondo a un tono de azul claro */
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el contenido al centro */
    margin-bottom: 20px; /* Espacio inferior */
}


a {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: #0056b3;
}

details {
    margin-top: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 1em;
    color: #007BFF;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

summary:hover {
    color: #0056b3;
}

footer {
    margin-top: 20px;
    color: #777;
    text-align: center;
}
